<div id="loginPartial" class="col col-6">
    <div class="m-3">
        <h2 class="shadow-none p-3 mb-3 bg-secondary rounded">Login</h2>
        <div class="form-floating">
            <input class="form-control mb-3  col-10 col-md-8 border" type="text" id="email" placeholder="Email">
            <label for="email">Email</label>
        </div>
        <div class="form-floating">
            <input class="form-control mb-3 col-10 col-md-8 border" type="password" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <div>
            <button type="button" class="btn btn-primary my-3" id="login" onclick="checkRole()">Login</button>
            <button type="button" class="btn btn-primary m-3" id="CreateAccount" onclick="createAccount()">Create Account</button>                 
        </div> 
    </div>

    <div class="m-3" id="invalid" style="display: none">**Fail to Login to the System. Please contact system administrtor at admin@example.com.</div>
  </div>