<div class="col m-3">
    <h2 class="shadow-none p-3 mb-3 bg-secondary rounded">Teacher Sign Up</h2>
    <div class="form-floating">
        <input class="form-control col-10 border mb-3" type="text" id="UserId" placeholder="User Id">
        <label for="UserId">User Id</label>
    </div>
    <div class="form-floating">
        <input class="form-control col-10 border mb-3" type="text" id="firstName" placeholder="first name">
        <label for="userFirstName">First Name</label>
    </div>
    <div class="form-floating">
        <input class="form-control col-10 border mb-3" type="text" id="lasttName" placeholder="last name">
        <label for="userLastName">Last Name</label>
    </div>
    <div class="form-floating"> 
        <input class="form-control col-10 border mb-3" type="password" id="password" placeholder="password">
        <label for="Password">Password</label>
    </div>
    <div class="form-floating"> 
        <input class="form-control col-10 border mb-3" type="email" id="email" placeholder="email">
        <label for="email">Email address</label>
    </div>


    <button type="button m-3" class="btn btn-primary">Teacher Sign Up</button>
    <button type="button" class="btn btn-primary m-3" id="login" onclick="changePage('studentsignup')">Create Student Account</button> 
    <button type="button" class="btn btn-primary m-3" id="login" onclick="changePage('login')">Login with Existing Account</button>                 
</div>